.login {
  position: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
    center no-repeat;
  background-size: cover;
}

.logo {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 150px;
  height: 30px;
  object-fit: contain;
}

.background > button {
  position: fixed;
  height: 40px;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.body {
  position: absolute;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding: 20px;
  left: 0;
  right: 0;
}

.body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}

.body > h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.body > h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.input {
  margin: 20px;
}

.input > form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.input > form > input {
  height: 100%;
  padding: 10px;
  outline-width: 0;
  border: none;
  height: 30px;
  width: 30%;
  max-width: 600px;
}

.input > form > button {
  height: 100%;
  padding: 15px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  font-weight: 600;
  cursor: pointer;
}
